* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    margin-left: 290px;
}

.profile-card {
    background-color: white;
    width: 35%;
    padding: 20px;
    border-radius: 5px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-pic span {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.info {
    margin-bottom: 20px;
}

.info div {
    margin-bottom: 20px;
}

.info div span {
    font-weight: bold;
}

.info div i {
    margin-left: 10px;
    cursor: pointer;
}

.update-form {
    margin-top: 20px;
}

.profile-card input {
    margin: 10px 0;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#edit-password-icon {
    color: #aaa;
    transition: color 0.3s ease;
}

#edit-password-icon:hover {
    color: #858585;
}

.profile-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-card button:hover {
    background-color: #0056b3;
}

.log {
    margin-top: 30px;
}

.log-item {
    display: flex;
    flex-direction: column;
    border-bottom: #ddd 1px solid;
    margin-top: 20px;
    padding-bottom: 10px;
}

.log-item .room {
    color: #0084FF;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}