<div class="sidebar-body">
  <div class="logo">
    <img alt="Blueroom logo" src="/assets/images/logo.png"/>
  </div>
  <a class="create-btn" href="#"> + Create </a>
  <ul class="menu">
    <li>
      <a href="/pages/home.html">
        <i class="fas fa-home"> </i>
        Home
      </a>
    </li>
    <li>
      <a href="/pages/test-n.html">
        <i class="fas fa-sticky-note"> </i>
        Note
      </a>
    </li>
    <li>
      <a href="/pages/profile.html">
        <i class="fas fa-user"> </i>
        Profile
      </a>
    </li>
    <li>
      <a href="/pages/index.html">
        <i class="fas fa-sign-out-alt"> </i>
        Log out
      </a>
    </li>
  </ul>
</div>
